<p>ekran-automat {{symbol}} <br /></p>
<button type="button" class="btn btn-primary"
          tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
    Simple demo
  </button>

<div *ngIf="calcObj" class="container">

  <div class="row bg-primary text-white">
    <div class="col-sm-2 bg-secondary text-white ">Konfiguracja</div>
    <div class="col-sm-3">
      <label  tooltip="Przedział czasowy, który brany jest pod uwagę podczas analizy wykresu" class="bg-primary text-white" for="selectOkres">Okno czasowe</label>
      <select class="form-select" id="selectOkres" (change)="updateOkres($event)">
       <option value={{wybranyOkres}}>{{dropdownOkres[wybranyOkres].opis}}</option>
       <option  disabled="disabled">---okres---</option>
        <option  *ngFor="let x of dropdownOkres; let i = index" [value]="i">
         {{x.opis}}
        </option>
      </select>
      <label for="wartosc" >Wartość zakładu</label>
      <input [(ngModel)]="wartoscZakladu" type="text" class="form-control" id="wartosc" placeholder="1$">
    </div>
    <div class="col-sm-3 bg-success text-white">
      <div class="col-sm bg-success text-white ">Próg BUY</div>
      <div class="input-group mb-3">
        <div class="input-group-prepend col-sm-5 ">
          <span class="input-group-text bg-success text-white">Procent</span>
        </div>
        <div class="col-sm-5">
          <input [(ngModel)]="progBuyProc" min="1" max="500" type="number" class="form-control" >
        </div>
        <div class="input-group-append  col-sm-2">
          <span class="input-group-text">%</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend col-sm-5  ">
          <span class="input-group-text bg-success text-white ">Kwota</span>
        </div>
        <div class="col-sm-5">
          <input [(ngModel)]="progBuyKwota" min="0"  type="number" class="form-control" >
        </div>
        <div class="input-group-append  col-sm-2">
          <span class="input-group-text">$$</span>
        </div>
      </div>
    </div>

    <div class="col-sm-3 bg-danger text-white">
      <div class="col-sm bg-danger text-white ">Próg SELL</div>
      <div class="input-group mb-3">
        <div class="input-group-prepend col-sm-5 ">
          <span class="input-group-text bg-danger text-white">Procent</span>
        </div>
        <div class="col-sm-5">
          <input [(ngModel)]="progSellProc" min="1" max="500" type="number" class="form-control" >
        </div>
        <div class="input-group-append  col-sm-2">
          <span class="input-group-text">%</span>
        </div>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend col-sm-5  ">
          <span class="input-group-text bg-danger text-white ">Kwota</span>
        </div>
        <div class="col-sm-5">
          <input [(ngModel)]="progSellKwota" min="0"  type="number" class="form-control" >
        </div>
        <div class="input-group-append  col-sm-2">
          <span class="input-group-text">$$</span>
        </div>
      </div>
    </div>

    <div class="col-sm-1 bg-warning text-dark">
      <label for="wartosc" >Wartość</label>
      <input type="text" [(ngModel)]="wartoscZakladu" class="form-control" id="wartosc" placeholder="1$">
    </div>
  </div>
  <div class="row bg-primary text-white">
    <div class="col-sm-2 bg-secondary text-white ">StopLoss</div>

    <div class="col-sm-1">
      <label for="poczatekSL">Początek[%]</label>
      <input  [(ngModel)]="poczatekSL" type="text" class="form-control" id="poczatekSL" placeholder="1%" (change)="changeSL()">
    </div>
    <div class="col-sm-1">
      <label for="przyrostSL">Zysk [%]</label>
      <input  [(ngModel)]="przyrostSL" type="text" class="form-control" id="przyrostSL" placeholder="10%"
       tooltip="Po jakim zarokbu zwiększyć poziom SL."(change)="changeSL()">
    </div>
    <div class="col-sm-1">
      <label for="deltaSL">Delta[%]</label>
      <input [(ngModel)]="deltaSL" type="text" class="form-control" id="deltaSL" placeholder="10%"
       tooltip="O ile powiekszyć margines SL." (change)="changeSL()">
    </div>
    <div class="col-sm-6">
      <label >Ustaw początkowy SL na kurs {{calcObj.data.kurs-calcObj.data.kurs*poczatekSL/100  | number:'1.0-2'}} - {{poczatekSL}}% wartości, gdy są zyski, co każde {{przyrostSL}}%, zwiększ SL o {{deltaSL}}%.</label>

    </div>
  </div>


  <div class="row bg-primary text-white">
    <div class="col-sm-2 bg-secondary text-white ">Kurs w oknie</div>
    <div class="col-sm-2 bg-success text-white">Maksymalny: {{calcObj.data.maxKurs}}</div>
    <div class="col-sm-2 bg-light text-dark">Aktualny: {{calcObj.data.kurs }}</div>
    <div class="col-sm-2 bg-danger text-white">Minimalny: {{calcObj.data.minKurs}}</div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <app-wykres-data [symbol]="symbol" [inputData]="swieczki15m" [interwal]='"15m"' [okres]='"count15min"'>
      </app-wykres-data>
    </div>
    <div class="col">
      <app-wykres-data [symbol]="symbol" [inputData]="swieczki1m" [interwal]='"1m"' [okres]='"0"'>
      </app-wykres-data>
    </div>
  </div>
</div>